body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 10;
}

button:hover {
    background-color: rgb(151, 0, 0);
}
